button{
  width: 100%;
  font-family: 'Roboto', cursive;
  font-size: 1em;
}
h1{
  font-family: 'Reenie Beanie', cursive;
}
#dash-container{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}
.recipe-section{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width:100%;
  flex-grow: 1;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 2px;
}
.example-card{
  border-bottom: 1px solid purple;
}
.example-container {
    width: 100%;
  }

.example-full-width {
  width: 100%;
}
