<div id="dash-container">
    <!----------------------------------- RANDOM RECIPES  ------------------------------------------------->
    <div class="recipe-section">
      <h1>Get random Recipes</h1>
      <button mat-flat-button color="primary" (click)="getRandomRecipes()">
        {{showRecipes?"Hide Wildness":"Live wild!"}}
      </button>
      <br><br>
      <div *ngIf="showRecipes" else #spinner >
        <div id="spinner" *ngIf="loading">
          <mat-progress-spinner class="spinner-style" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="randomRecipes" class="flex-container">
          <div *ngFor="let recipe of randomRecipes.recipes">
            <app-recipe-card [recipe]="recipe" [summarised]="false"></app-recipe-card>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------- RECIPES BY FRIDGE INGREDIENT  ------------------------------------------------->
    <div class="recipe-section">
      <h1>Get recipes by fridge ingredients</h1>
      <div>
        <form [formGroup]="formIngredients" (ngSubmit)="getIngredientRecipes()" class="example-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your ingredients" formControlName="ingredients">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <select matNativeControl required placeholder="Select the number of recipes to show" formControlName="number">
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit">
            {{showRecipes1?"Hide List": "Find recipes by ingredients"}}</button>
        </form>
      </div>
      <div *ngIf="showRecipes1" else #spinner1>
        <div id="spinner1" *ngIf="loading1">
          <mat-progress-spinner class="spinner-style" color="primary" mode="determinate"></mat-progress-spinner>
        </div>
        <div *ngIf="ingredientRecipes" class="flex-container">
          <div *ngFor="let recipe of ingredientRecipes">
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
          </div>
        </div>
      </div>
    </div>



    <!----------------------------------- RECIPES BY NATURAL QUERY ------------------------------------------------->

    <div class="recipe-section">
      <h1>Get recipes by natural query</h1>
      <div>
        <form [formGroup]="formQuery" (ngSubmit)="getNaturalQueryRecipes()" class="example-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your query" formControlName="query">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <select matNativeControl required placeholder="Select the number of recipes to show" formControlName="number">
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </mat-form-field>

          <button mat-flat-button color="primary" type="submit">Recipes by natural query</button>
        </form>
      </div>
      <div *ngIf="naturalQueryRecipes" class="flex-container">
        <div *ngFor="let recipe of naturalQueryRecipes">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
      </div>
    </div>

    <!----------------------------------- RECIPES BY DAILY CALORIES ------------------------------------------------->

    <div class="recipe-section">
      <h1>Get 3 meals Recipes based on calorie requirements</h1>
      <div class="example-container">
        <form [formGroup]="formDailyMealsByCalories" (ngSubmit)="getRecipesByCaloricRequirement()">
          <mat-form-field>
            <input matInput placeholder="Enter your target calories" formControlName="targetCalories">
          </mat-form-field><br>
          <button mat-flat-button color="primary" type="submit">Recipes by calorie requirement</button>
        </form>
      </div>

      <div *ngIf="caloricRecipes" class="flex-container">
        <div *ngFor="let recipe of caloricRecipes">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
      </div>
    </div>


    <!----------------------------------- WEEKLY RECIPES BY DAILY CALORIES ------------------------------------------------->

    <div class="recipe-section">
      <h1>Get 21 meals (one week) Recipes by daily calorie requirements</h1>
      <div class="example-container">
        <form [formGroup]="formWeeklyMealsByCalories" (ngSubmit)="getRecipesByWeeklyCaloricRequirement()">
          <mat-form-field>
            <input matInput placeholder="Enter your target calories" formControlName="targetCalories">
          </mat-form-field><br>
          <button mat-flat-button color="primary" type="submit">Weekly recipes by calorie requirement</button>
        </form>
      </div>

      <div *ngIf="caloricRecipesWeekly" class="flex-container">
        <div *ngFor="let recipe of caloricRecipesWeekly">
          <app-recipe-card [recipe]="recipe.value"></app-recipe-card>
        </div>
      </div>
    </div>

    <!----------------------------------- FOOD VIDEOS  ------------------------------------------------->
    <div class="recipe-section">
      <h1>Get food videos</h1>
      <div>
        <form [formGroup]="foodVideosQuery" (ngSubmit)="getFoodVideos()" class="example-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your food video search term" formControlName="query">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <select matNativeControl required placeholder="Select the number of recipes to show" formControlName="number">
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit">Search food videos</button>
        </form>
      </div>

      <div *ngIf="foodVideoRecipes" class="flex-container">
        <div *ngFor="let recipe of foodVideoRecipes">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
      </div>
    </div>

</div>
