#dash-container{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.example-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    flex-wrap: wrap;
}