.login-container{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.login-form-holder{
  /* width: 50%; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}